*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.header{
    background-image: url("./img/donation0.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
/* banner sect */
.ok-title{
    padding: 170px 140px 3px 140px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: rgb(20, 204, 236);
    text-shadow: 3px 4px olivedrab;
}
.ok-titles{
    padding: 170px 140px 26px 140px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(20, 204, 236);
    text-shadow: 3px 4px olivedrab;
}
.ok-description{
    text-align: center;
    font-size: 25px;
    color: rgb(255, 0, 162);
    text-shadow: 3px 4px olivedrab;
}
.btn{
    text-align: center;
    padding: 7px 15px;
    margin-top: 27px;  
}
button{
    padding: 13px 20px;
    font-size: 25px;
    border-radius: 9px;
    color: wheat;
    background-color: rgb(236, 20, 20);
    box-shadow: 4px 4px red;
}
.taka{
    text-align: center;
    margin-top: 90px;
    padding: 8px 25px;
}
.tk{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(14, 14, 14);
    background-color: rgb(229, 237, 243);
    border-radius: 3px;
    margin-left: 14px;
    padding: 45px 30px;
    text-align: center;
    border-width: 30px;
    border-radius: 3px;
    box-shadow: 3px 4px grey;
}
.tk-one{
    font-size: 40px;
    font-weight: bold;
    color: rgb(14, 14, 14);
    background-color: rgb(194, 18, 147);
    border-radius: 3px;
    margin-left: 14px;
    padding: 45px 30px;
    text-align: center;
    border-width: 30px;
    border-radius: 3px;
    box-shadow: 3px 4px grey;
}
.amount{
    text-align: center;
    opacity: 0.5;
    margin-top: 70px;
    font-size: 25px;
    margin-bottom: 9px;
}
hr{
    width: 40%;
    text-align: center;
    margin-left: 450px;
}
.shelter{
    display: flex;
    margin: 60px 150px;
}
.people{
    border-radius: 5px;
    background-color: aquamarine;
    margin-left: 20px;
    box-shadow: 4px 4px rgb(230, 22, 22);
}
.food{
    padding: 8px 17px;
    font-size: 28px;
    font-weight: bold;
}
.desc{
    font-size: 18px;
    padding: 10px 13px 60px 13px;
    text-align: center;
}
.img-pop{
    padding: 40px 30px;
}
.script-info{
    display: flex;
}
.total{
    margin: 0 20px 0;
}
.help{
    margin: 0 180px 0;
}
.off{
    width: 500px;
    height: 470px;
    margin-top: 120px;
}
.ok-titless{
    text-align: center;
    padding: 170px 100px 26px 120px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(20, 204, 236);
    text-shadow: 3px 4px olivedrab;
}
.btn-2{
    margin:30px 145px;
}
.ok-description1{
    text-align: left;
    margin-left: 150px;
    font-size: 22px;
}
.script-info1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: first baseline;
}
.help1{
    margin-left: 50px;
}
.updates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    margin-top: 20px;
    background-color: bisque;
    width: 40%;
    margin: 120px 140px 0 120px;
    padding: 73px 90px 65px 190px;
    justify-content: center;
    align-items: center;
}
.txt{
    width: 270px;
    height: 35px;
    padding: 4px 13px;
    font-size: 17px;
    color: rgb(186, 12, 12);
    background-color: rgb(209, 201, 201);
    border-radius: 3px;
    margin-right: 0;
}
.btn1{
    padding: 12px 55px;
    margin-left: -5px;
    color: aliceblue;
    background-color: crimson;
    font-size: 17px;
    font-weight: 500;
    border-radius: 2px;
}
.foot{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 150px;
    padding: 60px 200px;
}
.be{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Moon Dance', cursive;
    padding-bottom: 15px;
}